/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 nov 2023, 10:38:45
    Author     : dawmi
*/

@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');


/* Reset de estilos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Fuentes */
body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
    font-family: 'Verdana', sans-serif;
}

/* Colores */
body {
    background-color: #f0f0f0;
    color: #333;
}

.header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

/* Botones de modo oscuro y modo claro */
.dark-mode, .light-mode {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

/* Resto de tus estilos aquí */
